# Environments
.venv/
.venv*/
bin/
lib/
pyvenv.cfg

# IDE & System
.idea/
__pycache__/
.DS_Store
CACHEDIR/
CACHEDIR.TAG

# Data Science Project Structure
data/
models/
tutorials/

# Ignored Source/Docs (Moved from root)
src/hello_world.py
docs/DataSpell_Report.md
